.link{
  padding: 0.5rem 1rem;
  border: solid .5px transparent;
  border-radius: 5px;
}

.link:hover{
  border: solid .5px #1570B1;
  border-radius: 5px;
}

.active-link{
  background: #1570B1;
  color: #fff;
}