@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styles/global.css */
.bg-home-img {
  background-image: url('/home_bg_tinified.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}